<% @page_title = "管理者をうつす" %>
<h1 class="page_title">管理者をうつす</h1>

<% if @group.errors.any? %>
  <% @group.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %>


<%= form_with( model:@group ,local:true )do |f| %>
  <div class="show_member_box">
    <p>受け渡したいメンバーを選択してください。</p>
    <% @member_user.each_with_index do |user,i| %>
      <% unless user == @manager_user %>
        <%= user.name  %>
        <% if i == 0 %>
          <%= f.radio_button :user_id,user.id, checked:"checked" if i == 0 %>
        <% else %>
          <%= f.radio_button :user_id,user.id %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <p class="manager_edit_btn"><%= f.submit :送信,data: { confirm: '権限を受け渡すと元には戻せません。よろしいですか？' } %></p>
<% end %>
