<h1>グループ新規作成</h1>

<% if @group.errors.any? %>
  <% @group.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %>


<%= form_with( model:@group ,local:true ,url: confirm_groups_path )do |f| %>
  <p><%= f.label :サークル名 %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :主な活動場所 %></p>
  <p><%= f.text_field :place %></p>
  <p><%= f.label :主な活動日時 %></p>
  <p><%= f.text_field :time %></p>
  <p><%= f.label :概要 %></p>
  <p><%= f.text_field :content %></p>
  <p><%= f.submit :確認画面へ %></p>
<% end %>
