<h1 class="page_title"><%= @group.name %>の掲示板</h1>

<div class="submit_box">
  <p class="submit_box_info">サークルの活動記録や連絡事項等を書き込みましょう!</p>

  <%= form_with( model:@board ,local:true ,url:boards_path ,method:'post' )do |f| %>
    <%= f.hidden_field :group_id %>
    <%= f.hidden_field :user_id %>
    <p><%= f.label :image %></p>
    <p><%= f.file_field :image %></p>
    <p><%= f.label :書き込み内容 %></p>
    <p><%= f.text_area :content , :cols => 83, :rows => 10 %></p>
    <p><%= f.submit :送信 ,data: { confirm: '書き込んでよろしいですか？' }%></p>
  <% end %>
</div>

<h2 class="link_btn board_show_link_btn"><%= link_to 'サークルHOMEへ',group_path(@group.id) %></h2>

<% if @group.user_id == current_user.id %>
<% else %>
  <% if @join.present? %>
    <p class="link_btn board_show_join_btn"><%= link_to 'サークルから退会する', join_path(id: @group.id),data: { confirm: 'サークルから退会します、よろしいですか？' }, method: :delete %><p>
  <% else %>
    <p class="link_btn board_show_join_btn"><%= link_to 'サークルに　　　参加する', joins_path(group_id: @group.id),data: { confirm: 'サークルに参加すると代表にメールアドレスが公開されます。よろしいですか？' }, method: :post %></p>
  <% end %>
<% end %>


  <% @boards.each do |board| %>
    <div class="boards_box">
      <d class="boards_info">
        投稿者：<%= "☆" if @group.join_users.include?(board.user) %><%= board.user.name %>
      </d>
      <d class="boards_info">投稿日時：<%= simple_time(board[:created_at] ) %></d>
      <% if board.user == current_user  || board.group.user_id == current_user.id %>
        <%if board.content != "書き込みは削除されました。" %>
          <d><%= link_to '削除' ,board_path(board.id), method: :patch,data: { confirm: '書き込みを削除しますか？※枠は消えません。' } %></d>
        <% end %>
      <% end %>
      <p class=""><%= image_tag board.image unless board.image == nil %></p>
      <p class=""><%= board.content %></p>

    </div>
  <% end %>


  <div class="boards_box">
      <d class="boards_info">投稿者：------</d>
      <d class="boards_info">投稿日時：<%= simple_time(@group[:created_at] ) %></d>
      <p>サークルの活動記録や、質問等を書き込みましょう！</p>
  </div>
