<h1><%= @group.name %>に新たなメンバーが参加しました！</h1>
<p>性別：<%= @member_user.name %></p>
<p>性別：<%= @member_user.sex %></p>
<p>年齢：<%= @member_user.age %></p>
<p>email：<%= @member_user.email %></p>
<p>自己紹介：<%= @member_user.introduction %></p>
