<!DOCTYPE html>
<html>
  <head>
    <title>シュミティア -趣味の幅を広げるサイト- </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <tr>
        <td><%= link_to "サークル一覧",groups_path %></td>
        <td><%= link_to "サークルを作成する",new_group_path %></td>
      </tr>
      <% if logged_in? %>
        <tr>
          <td><%= link_to "MyPage", user_path(current_user.id) %></td>
          <td><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></td>
        </tr>
      <% else %>
        <tr>
          <td><%= link_to "ユーザー新規登録", new_user_path %></td>
          <td><%= link_to "ログイン", new_session_path %></td>
        </tr>
      <% end %>
    </header>
    <p><%= notice %></p>


    <%= yield %>
  </body>
</html>
